  .button-container {
      text-align: center;
    }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}
