html {
  height: 100%;
  width: 100%;
   background-color: black;
  color: yellow;
}
body {
  background-color: black;
}
h1 {
  color: yellow;
}
p {
  color: yellow;
}
header {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #b5b5b5;
}
.logo-row{
  text-align: center;
}
.logo {
  display: block;
  width: 156px;
  height: 30px;
  background-image: URL("logo23.png");
  background-repeat: no-repeat;
}
